* {
    padding 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after {
    display: block;
    clear: both;
    content: '';
}

body {
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    font-family: Tahoma;    
}

.wrapper {
    width: 1000px;
    padding-top: 46px;
    margin: 0 auto;
    background: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}

.contacts {
    padding-right: 30px;
    float: right;
    font-size: 12px;
    font-family: Tahoma;
    line-height: 15px;
    color: #5fa5bb;
}

.contacts:first-child {
    padding-bottom: 5px;
    font-weight: bold;
}

.contacts span {
    display: block;
    color: #128aa7;
}

.contacts a {
    text-decoration: none;
}

.logo {
    display: block;
    padding-left: 49px;
    padding-bottom: 0;
    width: 283px;
    float: left;
}

.countries {
    margin: 30px 0 5px;
    padding: 0 30px;
    float: right;
    clear: right;
    text-align: center;
}

.countries img {
    display: block;
    margin: 0 auto;
}

.countries li a {
    font-size: 10px;
    text-decoration: none;
}

.country {
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
}

.photo {
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
}

.photo img {
    display: block;
}

.info {
    width: 210px;
    border-right: 1px solid #c7cacf;
    background: #edeef0;
    overflow: hidden;
    height: 542px;
   position: absolute;
    top: 0;
    left: 0;    
}

.nav {
    position: relative;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000;
    background: rgba(55,55,55,1);
background: -webkit-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
background: -o-linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
background: linear-gradient(rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030', GradientType=0 );
    box-shadow: 0 3px 5px rgba(0, 0, 0, .4);
    z-index: 2;
    width: 100%;
    text-align: center;
}                

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.menu li {
    float: left;
    padding: 0 25px;
}

.menu li a, .dropbtn {
    display: block;
    color: white;
    text-align: left;
    padding-left: 4px;
    
/*    padding: 14px 16px;*/
    text-decoration: none;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #303030;
    line-height: 29px;
}

.menu li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #303030;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
/*    padding: 12px 16px;*/
    text-decoration: none;
    display: block;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.first-div {
  width:210px;
  height:545px;
  float:left;
    border-right: 1px solid #c7cacf;
    background: #edeef0;
 }

.second-div {
  width:578px;
  height:545px;
  float:left;
  background-color:white;
}

.third-div {
  width:210px;
  height:545px;
  float:right;
  border-left: 1px solid #c7cacf;
    background: #edeef0;
}

.content {
    color: #424c43;
    font-size: 14px;
    overflow: hidden;
}

.content h2 {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
}

.content p {
    padding: 0 10px 7px 15px;
    color: #424c43;
    font-size: 14px;
}

footer {
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
}      


.country span {
    color: #128aa7;
    
}

.countries li a:hover{
    text-decoration: underline;
}
